.stopwatch-container {
  background-color: black;
  color: red;
  text-align: center;
  padding: 20px;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stopwatch-heading {
  margin-top: 0px;
  font-size: 35px;
}

.stopwatch-time {
  font-size: 110px;
}

.stopwatch-instructions {
  font-size: 16px;
}

.stopwatch-clicks {
  font-size: 18px;
}


.span{
  font-size: 30px;
}